<a class="button" href="/discussions"><i class="fa fa-arrow-left"></i></a><br><br>
<div class="columns">
  <div class="column is-8">
    <h1 class="title is-2 has-text-grey discussion-title"><%= @discussion.title %></h1>
    <hr />
    <h3 class="subtitle is-6 has-text-grey"><i>by <%= @discussion.user.email %> in <%= link_to @discussion.channel.channel, @discussion.channel %></i></h3>
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
<% if discussion_author(@discussion) %>
        <div class="buttons">
            <%= link_to 'Edit Discussion', edit_discussion_path(@discussion), class:'button'%>
            <%= link_to 'Delete', discussion_path(@discussion), method: :delete, data: { confirm: "Delete discussion?" }, class:'button' %>
        </div>
<% end %>
      </div>
    </div>
    <div class="content"><%= markdown(@discussion.content) %></div>

    <h2 class="subtitle is-5 has-text-grey"><%= @discussion.replies.count %> câu trả lời</h2>

    <div id="discussion-replies">
      <%= render @discussion.replies %>
    </div>

    <hr />

    <h3 class="subtitle is-4 has-text-grey">Phản hồi từ cộng đồng</h3>
    <% if user_signed_in? %>
      <%= render 'replies/form' %>
    <% else %>
    <p>Để trả lời câu hỏi này bạn cần <%= link_to 'đăng nhập', new_user_session_path %>. Chưa có tài khoản?
      <%= link_to 'Đăng ký', new_user_registration_path %> ngay</p>
    <% end %>

  </div>

  <%= render 'sidebar' %>

</div>
